SAWSDL/detection_of_epochs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:description
  targetNamespace="detection_of_epochs"
  xmlns:wsdl="http://www.w3.org/ns/wsdl"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">

  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="detection_of_epochs"
                 xmlns="detection_of_epochs"
                 elementFormDefault="qualified">
      <xs:element name="data">
        
        <xs:complexType>
          <xs:sequence>
            <xs:element name="eegsignal" type="signal" />
            <xs:element name="markers" type="markers" />
                 
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="signal">
        <xs:sequence>
          <xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="markers">
        <xs:sequence>
          <xs:element name="markerValue" type="marker" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="marker">
        <xs:sequence>
          <xs:element name="stimul" type="xs:string" />
          <xs:element name="name" type="xs:string" /> 
          <xs:element name="position" type="xs:integer" />
        </xs:sequence>
      </xs:complexType>  
          
      <xs:element name="Response" >
        <xs:complexType>
          <xs:sequence>
             <xs:element name="epochs" type="epochType" minOccurs="1" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:complexType name="epochType">
        <xs:sequence>
            <xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <wsdl:interface name="DetectionOfEpochs" >
      
    <wsdl:operation name="run" pattern="http://www.w3.org/ns/wsdl/in-out" >
      <wsdl:input element="data" />
      <wsdl:output element="Response" />
    </wsdl:operation>
  </wsdl:interface>
</wsdl:description>