SAWSDL/discrete_wavelet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:description
  xmlns:wsdl="http://www.w3.org/ns/wsdl"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">

  <wsdl:types>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="discrete_wavelet"
                 xmlns="discrete_wavelet"
                 elementFormDefault="qualified">
      <xs:element name="data" >
        <xs:complexType>
           <xs:element name="epoch" type="signal" />
        </xs:complexType>
      </xs:element>

      <xs:element name="Response" >
        <xs:complexType>
          <xs:element name="coeficients" type="coef" />
        </xs:complexType>
      </xs:element>

      <xs:complexType name="signal">
        <xs:sequence>
          <xs:element name="value" type="xs:double" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="coef">
        <xs:sequence>
          <xs:element name="coefficient" type="xs:double" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>

  <wsdl:interface name="DiscreteWavelet">

    <wsdl:operation name="run" pattern="http://www.w3.org/ns/wsdl/in-out">
      <wsdl:input element="data" />
      <wsdl:output element="Response" />
    </wsdl:operation>
  </wsdl:interface>
</wsdl:description>



